* {
  font-family: Arial, Helvetica, sans-serif;
}

.table-header{
  border: 1px solid #D1D3D4;
  font-size: 0.8em;
  background-color:#ECEDED;
}
.table-header th{
  padding:0px;
}

/* Colors */
.gray-color{
  background-color:#F2F2F2;
}

.gray-column{
  background-color: #f8f8f8;
}

.white-color{
  background-color:#FFFF;
}

.blue-background{
  background-color: #1170bc;
}

td.id-style{
  padding: 0px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}

.align-center{
  text-align:center;
}

.align-center>button{
  background-color:#f3f3f3;
  color:gray;
  border:1px solid#dadada;
  width:80%;
}
.align-center>button:hover{
  background-color: #1170bc;
}