* {
  font-family: Arial, Helvetica, sans-serif;
}

.table-header{
  border: 1px solid #D1D3D4;
  font-size: 0.8em;
  background-color:#ECEDED;
}
.table-header th{
  padding:0px;
}

/* Colors */
.gray-color{
  background-color:#F2F2F2;
}

.gray-column{
  background-color: #f8f8f8;
}

.white-color{
  background-color:#FFFF;
}

.blue-background{
  background-color: #1170bc;
}

td.id-style{
  padding: 0px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}

.align-center{
  text-align:center;
}

button.btn{
  background-color:#f3f3f3;
  color:gray;
  border:1px solid#dadada;
}
button.btn:hover{
  background-color: #1170bc;
}

.error{
  color:red;
}

.height-20{
 height:20px;
}

.width-100x{
  width:100%;
}

.custom-modal-header{
  background-color: #313A63;
  color:#1492C8;
  padding:5px;
}



.margin-left-5{
  margin-left:5%;
}