* {
  font-family: Arial, Helvetica, sans-serif;
}

.table-header{
  border: 1px solid #D1D3D4;
  font-size: 0.8em;
  background-color:#ECEDED;
}
.table-header th{
  padding:0px;
}

/* Colors */
.gray-color{
  background-color:#F2F2F2;
}

.white-color{
  background-color:#FFFF;
}

.blue-background{
  background-color: #1170bc;
}

td.id-style{
  padding: 0px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}