<div class="row gray-color">
  <div class="col-sm-12 col-md-2 p-4">
      <shadowbox></shadowbox>
  </div>
  <main class="col-sm-9 col-md-10 p-4">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-header" border="1">
          <tr>
            <th class="blue-background"></th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Sex</th>
            <th>Tier</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody class="gray-column">
          <tr ng-repeat="p in players" ng-class="{'white-color': {{$index}} % 2 !== 0}" ng-click="selectPerson($event)"> 
            <td valign="middle" class="id-style">{{$index}}</td>
            <td>{{p.name}}</td>
            <td>{{p.surname}}</td>
            <td class="p-0"><img src="../images/icon_{{p.sex}}.svg" alt="{{p.sex}}"></td>
            <td class="p-0"><img  src="../images/tier_{{p.tier}}.svg" alt="{{p.tier}}"></td>
            <td>{{p.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>